@import url(http://fonts.googleapis.com/css?family=Roboto);

.custom-container,
.container > .navbar {
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: roboto;
}
.custom-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}
.custom-container {
    padding: 30px;
    text-align: center;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    overflow: hidden;
}

.custom-container button,
.custom-container input[type=submit]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0;
}

.custom-container input[type=text],
.custom-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.custom-container input[type=text]:hover,
.custom-container input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.custom-container .send {
    display: block;
    border-radius: 0;
}

.login-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 10px 0px;
    font-family: roboto;
    font-size: 17px;
}

.login-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.alert {
    border-radius: 0;
}

.login-container {
    margin-top: 100px;
}

.login-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-container .dropdown {
    display: inline-block;
}

.login-help{
    font-size: 12px;
}

.error-div {
    color: #ec1d19;
    border: 1px solid #d24c4c;
    padding: 5px;
    margin-bottom: 6px;
    font-size: 15px;
    background-color: #f9dfc0;
    border-radius: 1px;
}

.error-div:not(:first-child) {
    margin-top: 10px;
}

.container > .navbar{
    margin: 28px 15px;
}

.col-md-4.col-md-offset-4 {
    position: relative;
}