.panel-primary {
	border: none;
	box-shadow: none;
	background-color: transparent;
}
.panel-primary .panel-body {
	padding: 0;
}
.panel-primary > .panel-heading {
	border-top: 5px solid #ff7518;
	margin-bottom: 10px;
}
.panel-primary > .panel-heading > .panel-title{
	color: white;
	font-weight: bolder;
}
.img-thumbnail {
	padding: 0;
	border: none;
}
.panel-group > .panel-primary table{
	margin-bottom: 0px;
}
.panel-image > .panel-body,
.panel-comment > .panel-body,
.message-image {
	position: relative;
}
.tool-panel {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
	width: 120px;

	background-color: rgba(39,128,227,0.7);
}
.tool-panel > a {
	display: inline-block;
    color: white;
    margin-top: 11px;
    margin-left: 30px;
}
.tool-panel > a:hover {
	font-size: 19px;
	margin-top: 7px;
    margin-left: 26px;
}
.message-image > .tool-panel > a{
	margin-top: 12px;
	margin-left: 18px;
}
.message-image > .tool-panel > a:hover{
	margin-top: 8px;
	margin-bottom: 14px;
	margin-right: -4px;
}
.navbar {
	font-weight: bolder;
}
.navbar-form {
	margin-top: 6.5px;
	margin-bottom: 2.5px;
}
.navbar-form input[type=text] {
	height: 37px;
	border-color: #ff7518;
}
.navbar-form .btn-search {
	padding: 7px 18px;
}
.message-view {
	max-height: 500px;
	overflow-y: auto;
}
.panel-paging {
	text-align: center;
	font-size: 25px;
}
.panel-paging > a {
	margin-left: 60px;
}
.panel-paging > a {
	text-decoration: none;
}
.panel-footer {
	background-color: transparent;
	border-top: none;
}

@media (min-width: 768px) and  (max-width: 837px) {
	.navbar-form .form-control {
    	width: 142px;
	}
}